

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
	
    z-index: 0;
   
    margin:10px; 
    border-radius:10px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;   
    border-radius: 5px;
    font-size: 32px;
   
    border-collapse: collapse;
   
 
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    white-space:pre-line;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

#adminpro
{
display: flex;
flex-wrap: wrap;
text-align: left;
}
#from{
	font-size: 120%;
   
	border: 0.5px solid #73AD21;
	padding: 10px;
	margin-left:10px;	
     top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    left: 0px;
  
    width: 25%;
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}
